@{
  Layout = "_Layout";
}

<h1>Welcome to The University of Git Gud!</h1>
<hr />
<p>@Html.ActionLink("See all students", "Index", "Students")</p>
<p>@Html.ActionLink("See all courses", "Index", "Courses")</p>